.topnav {
  background-color: #8EE4AF;
  overflow: hidden;
  font-family: Courier New;
align-content: center;
border-left-color: #45A29E;
}

.topnav a {
  float: center;
  color: #05386B;
  text-align: center;
  padding: 30px 30px;
 Font-style: bold;
  font-size: 25px;
}
.topnav a:hover {
  background-color: #304D63;
  color: black;
}

.topnav a.active {
  background-color: #304D63;
  color: white;
}

body {
background-color: #8EE4AF;
    
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;; Times New Roman; sans-serif;
  font-style: bold;
  font-size: 50px;
  text-align: center; 
  width: 100%;
  height:100%;
    color: #05386B;
}

h2 {
 font-family: 'Grandstander', cursive; Times New Roman; sans-serif;
 font-size: 40px;
 color: darkred;
}

h3 { 
  font-family: 'Verdana'; Times New Roman; sans-serif;
  font-size: 25px;
color: #379683;
}
h4 {
  text-decoration: underline;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 20px ;
    color: #955cdb;
}

h5 {
  font-family: 'Georgia'; Times New Roman; sans-serif;
  text-decoration: underline;
  font-size: 15px;
color: #955cdb;
}

p {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
    color: #304d63;
}

a2 { 
float:right;
}

p10 {
    text-align: justify; 
    font-family: 'Trebuchet MS'; 
    font-size: 14px; 
    COLOR: #304D63;
    
}

table {
  text-align: center;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 30px;
    color: #304D63;
      display: block;
  margin-left: auto;
  margin-right: auto;
}

p3 {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
  margin-top: 0;
    color: #304D63;
}

ol {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px
      color: #304d63;
}

ul {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
    color: #304d63;
}

li {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
    color: #304d63;
}

a {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
    color: #304d63;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image{
  width: 100%;
  height: 100%;
}


.video{
  width: 100%;
  height: 100%;

}

vid {
  width: 100%;
  height: 100%;
}

h6 {
  border-bottom: 5px dotted red;
}

