.topnav {
  background-color: #1F2833;
  overflow: hidden;
  font-family: Courier New;
align-content: center;
border-left-color: #45A29E;
}

.topnav a {
  float: left;
  color: #8ee5f0;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.topnav a:hover {
  background-color: #1F2833;
  color: black;
}

.topnav a.active {
  background-color: #1F2833;
  color: white;
}

body {
background-color: #0B0C10; 
}

h1 {
  font-family: 'Oleo Script Swash Caps', cursive;; Times New Roman; sans-serif;
  font-style: bold;
  font-size: 50px;
  text-align: center; 
  background: aqua; 
  width: 100%;
  height:100%;
}

h2 {
 font-family: 'Grandstander', cursive; Times New Roman; sans-serif;
 font-size: 40px;
 color: #45A29E;
 background: dark red;
}

h3 { 
  font-family: 'Verdana'; Times New Roman; sans-serif;
  font-size: 25px;
color: #66FCF1;
}
h4 {
  text-decoration: underline;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 20px ;
    color: #66FCF1;
}

h5 {
  font-family: 'Georgia'; Times New Roman; sans-serif;
  text-decoration: underline;
  font-size: 15px;
color: #66FCF1;
}

p {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
    color: white;
}

table {
  text-align: center;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 30px;
    color: white;
      display: block;
  margin-left: auto;
  margin-right: auto;
}

p3 {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
  margin-top: 0;
    color: white;
}

ol {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px
      color: #66FCF1;
}

ul {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
    color: white;
}

li {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
    color: white;
}

a {
  text-align: justify;
  font-family: 'Trebuchet MS'; Times New Roman; sans-serif;
  font-size: 14px;
    color: white;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image{
  width: 100%;
  height: 100%;
}


.video{
  width: 100%;
  height: 100%;

}

vid {
  width: 100%;
  height: 100%;
}

h6 {
  border-bottom: 5px dotted red;
}

